.inline-gallery {
	overflow: hidden;
	margin: 30px 0;
	padding: 0;
}
.inline-gallery-item {
	display: inline-block;
	margin: 0 10px 10px 0;
	vertical-align: middle;
}
.inline-gallery-item-last {
	margin-right: 0;
}